.photoContainer{
    position: relative;
      width: 100%;
      height: 100%;
     
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.readerContainerPosition{
  position: absolute;
  top: 35px;
  
  z-index: -9999999;
}

.imgGrid{
  width: 100px;
}

.gridChakra{
  display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 17px;
    margin-top: 17px;
    justify-items: center;
    width: 360px;
}

@media screen and (min-width: 744px) {
   
  .readerContainerPosition{

  position: absolute;
  top: 35px;
  left: -500px;
  z-index: -9999999;
  }
}

@media screen and (min-width: 1300px) {
  .readerContainerPosition{
    position: absolute;
  top: 35px;
  left: 0;
  z-index: -9999999;

  }
}





    