.photoContainer{
    position: relative;
      width: 100%;
      height: 100%;
     
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.readerContainerPosition{
  position: absolute;
  top: 35px;
  
  z-index: -9999999;
}

.imgGrid{
  width: 100px;
}

.gridChakra{
  display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    margin-top: 17px;
    justify-items: center;
    width: 360px;
    align-items: center
}
@media screen and (max-width: 744px) {

  .imgGrid:nth-child(n+10){
  display: none;
}

}


@media screen and (min-width: 744px) and (max-width: 1324px) {
   
.photoContainer{
    position: relative;
      width: 100%;
      height: 100%;
     
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
}

.imgGrid:nth-child(n+13){
  display: none;
}

.imgGrid{
  width: 140px;
}




.gridChakra{
  display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 17px;
    margin-top: 46px;
    justify-items: center;
    width: 744px;
}
  
  
  .readerContainerPosition{

  position: absolute;
  top: 35px;
  
  z-index: -9999999;
  }
}

@media screen and (min-width: 1300px) {
  .readerContainerPosition{
    position: absolute;
  top: 35px;
  margin-top: 30px;
  z-index: -9999999;

  }

  .gridChakra{
    display: grid;
      grid-gap: 100px;
      grid-template-columns: repeat(6, 1fr);
      margin-bottom: 17px;
      
      justify-items: center;
      width: 1360px;
      margin: auto;
  }
  .imgGrid{
    width: 140px;
  }
}





    