.photoContainer{
    position: relative;
      width: 100%;
      height: 100%;
     
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }
.readerContainerPosition{
  position: absolute;
  top: 35px;
  left: -850px;
  z-index: -9999999;
}


@media screen and (min-width: 744px) {
   
  .readerContainerPosition{

  position: absolute;
  top: 35px;
  left: -500px;
  z-index: -9999999;
  }
}

@media screen and (min-width: 1300px) {
  .readerContainerPosition{
    position: absolute;
  top: 35px;
  left: 0;
  z-index: -9999999;

  }
}





    