.container{
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
    margin-top: 240px;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 48px 32px 50px 32px;
    background: #FFF;
    width: 360px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.14);

    z-index: 9999;
    
}
.containerQuiz {
    margin: auto;
    width: 1200px;
    border: 1px solid rgba(0, 0, 0, 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.btnStart{
    padding: 15px 42px;
    background-color: #FAF9FA;
    outline: none;
    border: 1px solid #2A292A;
    border-radius: 10px;
    
}

.btnStart:hover{
    background-color: #dddadd;
    cursor: pointer;
}

