h1,h2,h3,h4,ul,li,p,div{
    margin: 0;
}


.conFooter{
    display: none;
    justify-content: space-between;
    gap: 217px;
    padding: 30px 40px;
}
@media screen and (min-width: 1340px) {
    .conFooter{
        display: flex;
        padding-left: 0;
        padding-right: 0;
        justify-content: none;
    }
    
    .tittleFooter{
        font-family: Noto Sans;
font-size: 32px;
font-style: normal;

line-height: normal;

    }
}
.conFooterTxt{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 570px;
}


.txtfooter{
    color: rgba(0, 0, 0, 0.50);

font-family: Noto Sans;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 16px;
}
.parTxt{
    color: #000;

/* Detail 14 */
font-family: Noto Sans;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
opacity: 0.5;
}

.list{
    list-style: none;
    display: flex;
    gap: 10px;
}
.itemlist{
   
    padding: 0;
    /* background-color: #000; */
    padding: 0;
    /* border-radius: 10px; */
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: space-around;
    align-items: center;
        
}
.imgitem{
    border-radius: 5px;
}
.spanTxt{
    color: #000;
/* Button */
font-family: Noto Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.iconContext{

}