.containerEnd{
    
  display: flex;
  margin: 40px 40px;
  
    margin: auto;
    width: 1200px;
    border: 1px solid rgba(0, 0, 0, 100%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 116px;
   
    background: #FAF9FA;
}

.btnAgain{

    border-radius: 10px;
    border: 1px solid #2A292A;

    background: #FAF9FA;

    color: #000;
    padding: 15px 33px;
    text-align: center;
    /* Button */
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 1;
    position: relative;
    cursor: pointer;
}  

.messageTxt{
    color: #000;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tittleMessage{
    color: #000;

    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cricular{
    margin-right: 104px;
}
  
 